.ghost-box {
  position: relative;
  border: 1px solid;

  margin: 10px;

  height: calc(100% - 5%);
  padding: 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  h6 {
    position: absolute;
    top: -10px;
    left: 5px;
    background: #2f2f2f;
    padding: 0 5px 5px;
  }

  .box-content {
    container-type: inline-size;
    i[data-clickable] {
      display: block;
    }
  }
}